*.iml
.gradle
local.properties
.idea/*
!.idea/icon.png
.DS_Store
build/
captures
.externalNativeBuild
.cxx

# Common secrets
google-services.json
secrets/firebase-key.json

# Android secrets
android/secrets/kstreamlined.jks
android/secrets/play-publishing.json
