*.iml
.gradle
/local.properties
/.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties

# Common secrets
google-services.json
secrets/firebase-key.json

# Android secrets
android/secrets/kstreamlined.jks
android/secrets/play-publishing.json
