<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:icon="@mipmap/ic_launcher">
        <provider
            android:name=".benchmark.AppStateProvider"
            android:authorities="${applicationId}.benchmark"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
    </application>
</manifest>
